*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
.title{
	background: #1688d8;
	font-size: 4rem;
	font-weight: 700;
	color: #fff;
	text-shadow: 2px 2px 8px #777;
	word-spacing: 5px;
	letter-spacing: 2px;
	padding: 6px 0px 14px;
	user-select: none;
}
.container .row .col-md-3 ul li a{
	user-select: none;
	cursor: pointer;
}
.editor{
	background-color: #fff;
	padding: 7px 18px;
	border-radius: 3px;
	border: none;
	outline: none;
	box-shadow: 1px 1px 3px #777;
	transition: 0.6s;
	user-select: none;
}
.footer{
	background: #1688d8;
	color: #d0c8b1;
	margin-top: 44.9vh;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 5px;
	padding: 10px 0 18px;
	user-select: none;
}
.footer span{
	font-size: 21px;
	color: #fff;
	text-shadow: 1px 1px 4px #777;
}
.footer span a{
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}
