.title{
	background-color: #1688d8;
	color: #fff;
	font-size: 4rem;
	font-weight: 700;
	padding: 10px 0px 10px;
	text-shadow: 2px 2px 8px #777;
	word-spacing: 5px;
	letter-spacing: 2px;
}
ul{
	list-style: none;
}
.subheading{
	color: tomato; 
	font-size: 18px; 
	font-weight: 700;
}
